:root { 
--gray_51:#fafafa; 
--indigo_900_0c:#1b3a770c; 
--bluegray_500:#6d7391; 
--bluegray_400:#7b8db0; 
--bluegray_100:#cbd4e6; 
--indigo_A200:#605dec; 
--white_A700:#ffffff; 
--gray_50:#f6f5fd; 
}